In [1]:
# Importación de las bibliotecas

import pandas as pd
import requests #Diccionario utilizable para acceder a fuentes externas
import datetime #Diccionario utilizable para fechas

# Función que toma un código del INE,
# conecta con el INE y 
# devuelve un json con los datos solicitados

def ine_request(ine_code, num_datos): #Definición de una funcion, toma parametros ine_code y num_datos

    path_template = 'http://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/{cod_serie}?nult={n_ult_datos}'
    path = path_template.format(cod_serie = ine_code, n_ult_datos = num_datos)
    json_request = requests.get(path).json()
    
    # Para más info https://www.ine.es/dyngs/DataLab/manual.html?cid=45
    
    return json_request

# Lectura del archivo con los códigos de serie del INE
df_codigos = pd.read_excel('ine_codes.xlsx') # usecols = ['ine_code']

fecha_lista = [] 
valor_lista = list()
serie_lista = list() # []

# Recorro la serie del dataframe que contiene los códigos del INE
for codigo in df_codigos.ine_code:
    
    # Cargo en 'datos' el resultado de la función ine_request()
    datos = ine_request(codigo, 999)
    
    # Cargo en nombre_serie el nombre de la serie de datos 
    nombre_serie = datos['Nombre']
    
    # Toma los atributos de cada serie de datos
    for dato in datos['Data']:

        fecha = datetime.date.fromtimestamp(dato['Fecha'] // 1000)
        valor = dato['Valor']
        fecha_lista.append(fecha)
        valor_lista.append(valor)
        serie_lista.append(nombre_serie)
        

#  crea un dataframe con todas las listas de datos       
df = pd.DataFrame({
        'Fecha': fecha_lista,
        'Dato' : serie_lista,
        'Población' : valor_lista
    })

### DESARROLLAMOS

Vemos los datos que nos interesa en formato diccionario

In [2]:

import pandas as pd
import requests #Diccionario utilizable para acceder a fuentes externas
import datetime #Diccionario utilizable para fechas

def ine_request(ine_code, num_datos): #Definición de una funcion, toma parametros ine_code y num_datos

    path_template = 'http://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/{cod_serie}?nult={n_ult_datos}'
    path = path_template.format(cod_serie = ine_code, n_ult_datos = num_datos)
    json_request = requests.get(path).json()
    
    # Para más info https://www.ine.es/dyngs/DataLab/manual.html?cid=45
    
    return json_request

In [3]:
ine_request('CP335',10)

{'COD': 'CP335',
 'Nombre': 'Total Nacional. Todas las edades. Total. Población. Número. ',
 'FK_Unidad': 3,
 'FK_Escala': 1,
 'Notas': [{'texto': 'https://www.ine.es/inebaseDYN/cp30321/cp_inicio.htm#~#https://www.ine.es/consul/serie.do?s=CP335&nult=100&TB_iframe=true&position=center&width=700&height=500&L=0&nocab=1',
   'Fk_TipoNota': 6,
   'textoTipo': None}],
 'Data': [{'Fecha': 1514761200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2018,
   'Valor': 46658447.0,
   'Secreto': False},
  {'Fecha': 1530396000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2018,
   'Valor': 46728814.0,
   'Secreto': False},
  {'Fecha': 1546297200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2019,
   'Valor': 46937060.0,
   'Secreto': False},
  {'Fecha': 1561932000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2019,
   'Valor': 47105358.0,
   'Secreto': False},
  {'Fecha': 1577833200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2020,
   'Valor': 47332614.0,
   'Secreto': False},
  {'Fecha': 1593554400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2020,
   'Valor': 47355685.0,
   'Secreto': False},
  {'Fecha': 1609455600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2021,
   'Valor': 47398695.0,
   'Secreto': False},
  {'Fecha': 1625090400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2021,
   'Valor': 47331302.0,
   'Secreto': False},
  {'Fecha': 1640991600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2022,
   'Valor': 47432893.0,
   'Secreto': False},
  {'Fecha': 1656626400000,
   'FK_TipoDato': 2,
   'FK_Periodo': 27,
   'Anyo': 2022,
   'Valor': 47615034.0,
   'Secreto': False}]}

In [4]:
data = ine_request('CP335',999)

In [5]:
type(data)

dict

In [6]:
type(data['Data'])

list

In [7]:
data['Data'][0]

{'Fecha': 31532400000,
 'FK_TipoDato': 1,
 'FK_Periodo': 26,
 'Anyo': 1971,
 'Valor': 34040642.0,
 'Secreto': False}

In [8]:
data['Data'][0]['Valor']

34040642.0

#### Pregunta clave

¿Varía de la misma manera la serie masculina y la femenina?

Como debemos validar los tres datos encontrados en Excel, debemos de hacer la validación de ese archivo, debemos de disponer los códigos de linea, añadir otras series, entre otros.

In [9]:
df_codigos = pd.read_excel('ine_codes.xlsx') # usecols = ['ine_code']

fecha_lista = [] 
valor_lista = list()
serie_lista = list() # []

Bucle for toma cada uno de los Ine_code

In [10]:
datos = ine_request('CP335', 999)

In [11]:
datos

{'COD': 'CP335',
 'Nombre': 'Total Nacional. Todas las edades. Total. Población. Número. ',
 'FK_Unidad': 3,
 'FK_Escala': 1,
 'Notas': [{'texto': 'https://www.ine.es/inebaseDYN/cp30321/cp_inicio.htm#~#https://www.ine.es/consul/serie.do?s=CP335&nult=100&TB_iframe=true&position=center&width=700&height=500&L=0&nocab=1',
   'Fk_TipoNota': 6,
   'textoTipo': None}],
 'Data': [{'Fecha': 31532400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1971,
   'Valor': 34040642.0,
   'Secreto': False},
  {'Fecha': 47170800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1971,
   'Valor': 34216856.0,
   'Secreto': False},
  {'Fecha': 63068400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1972,
   'Valor': 34408338.0,
   'Secreto': False},
  {'Fecha': 78793200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1972,
   'Valor': 34595886.0,
   'Secreto': False},
  {'Fecha': 94690800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1973,
   'Valor': 34800600.0,
   'Secreto': False},
  {'Fecha': 110329200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1973,
   'Valor': 34980317.0,
   'Secreto': False},
  {'Fecha': 126226800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1974,
   'Valor': 35177294.0,
   'Secreto': False},
  {'Fecha': 141861600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1974,
   'Valor': 35363890.0,
   'Secreto': False},
  {'Fecha': 157762800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1975,
   'Valor': 35569375.0,
   'Secreto': False},
  {'Fecha': 173397600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1975,
   'Valor': 35750033.0,
   'Secreto': False},
  {'Fecha': 189298800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1976,
   'Valor': 35946425.0,
   'Secreto': False},
  {'Fecha': 205020000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1976,
   'Valor': 36127525.0,
   'Secreto': False},
  {'Fecha': 220921200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1977,
   'Valor': 36329199.0,
   'Secreto': False},
  {'Fecha': 236556000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1977,
   'Valor': 36506811.0,
   'Secreto': False},
  {'Fecha': 252457200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1978,
   'Valor': 36694077.0,
   'Secreto': False},
  {'Fecha': 268092000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1978,
   'Valor': 36868100.0,
   'Secreto': False},
  {'Fecha': 283993200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1979,
   'Valor': 37035719.0,
   'Secreto': False},
  {'Fecha': 299628000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1979,
   'Valor': 37194315.0,
   'Secreto': False},
  {'Fecha': 315529200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1980,
   'Valor': 37346940.0,
   'Secreto': False},
  {'Fecha': 331250400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1980,
   'Valor': 37493072.0,
   'Secreto': False},
  {'Fecha': 347151600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1981,
   'Valor': 37635389.0,
   'Secreto': False},
  {'Fecha': 362786400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1981,
   'Valor': 37764458.0,
   'Secreto': False},
  {'Fecha': 378687600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1982,
   'Valor': 37881873.0,
   'Secreto': False},
  {'Fecha': 394322400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1982,
   'Valor': 37987108.0,
   'Secreto': False},
  {'Fecha': 410223600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1983,
   'Valor': 38090151.0,
   'Secreto': False},
  {'Fecha': 425858400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1983,
   'Valor': 38160263.0,
   'Secreto': False},
  {'Fecha': 441759600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1984,
   'Valor': 38252899.0,
   'Secreto': False},
  {'Fecha': 457480800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1984,
   'Valor': 38325244.0,
   'Secreto': False},
  {'Fecha': 473382000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1985,
   'Valor': 38407829.0,
   'Secreto': False},
  {'Fecha': 489016800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1985,
   'Valor': 38467025.0,
   'Secreto': False},
  {'Fecha': 504918000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1986,
   'Valor': 38531195.0,
   'Secreto': False},
  {'Fecha': 520552800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1986,
   'Valor': 38571941.0,
   'Secreto': False},
  {'Fecha': 536454000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1987,
   'Valor': 38638052.0,
   'Secreto': False},
  {'Fecha': 552088800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1987,
   'Valor': 38682322.0,
   'Secreto': False},
  {'Fecha': 567990000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1988,
   'Valor': 38731578.0,
   'Secreto': False},
  {'Fecha': 583711200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1988,
   'Valor': 38764307.0,
   'Secreto': False},
  {'Fecha': 599612400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1989,
   'Valor': 38802300.0,
   'Secreto': False},
  {'Fecha': 615247200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1989,
   'Valor': 38821377.0,
   'Secreto': False},
  {'Fecha': 631148400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1990,
   'Valor': 38853227.0,
   'Secreto': False},
  {'Fecha': 646783200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1990,
   'Valor': 38860827.0,
   'Secreto': False},
  {'Fecha': 662684400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1991,
   'Valor': 38881416.0,
   'Secreto': False},
  {'Fecha': 678319200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1991,
   'Valor': 38941622.0,
   'Secreto': False},
  {'Fecha': 694220400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1992,
   'Valor': 39051336.0,
   'Secreto': False},
  {'Fecha': 709941600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1992,
   'Valor': 39147940.0,
   'Secreto': False},
  {'Fecha': 725842800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1993,
   'Valor': 39264034.0,
   'Secreto': False},
  {'Fecha': 741477600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1993,
   'Valor': 39356082.0,
   'Secreto': False},
  {'Fecha': 757378800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1994,
   'Valor': 39458489.0,
   'Secreto': False},
  {'Fecha': 773013600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1994,
   'Valor': 39547353.0,
   'Secreto': False},
  {'Fecha': 788914800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1995,
   'Valor': 39639726.0,
   'Secreto': False},
  {'Fecha': 804549600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1995,
   'Valor': 39718895.0,
   'Secreto': False},
  {'Fecha': 820450800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1996,
   'Valor': 39808374.0,
   'Secreto': False},
  {'Fecha': 836172000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1996,
   'Valor': 39884246.0,
   'Secreto': False},
  {'Fecha': 852073200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1997,
   'Valor': 39971329.0,
   'Secreto': False},
  {'Fecha': 867708000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1997,
   'Valor': 40049974.0,
   'Secreto': False},
  {'Fecha': 883609200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1998,
   'Valor': 40143449.0,
   'Secreto': False},
  {'Fecha': 899244000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1998,
   'Valor': 40214066.0,
   'Secreto': False},
  {'Fecha': 915145200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 1999,
   'Valor': 40303568.0,
   'Secreto': False},
  {'Fecha': 930780000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 1999,
   'Valor': 40369667.0,
   'Secreto': False},
  {'Fecha': 946681200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2000,
   'Valor': 40470182.0,
   'Secreto': False},
  {'Fecha': 962402400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2000,
   'Valor': 40554387.0,
   'Secreto': False},
  {'Fecha': 978303600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2001,
   'Valor': 40665545.0,
   'Secreto': False},
  {'Fecha': 993938400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2001,
   'Valor': 40766049.0,
   'Secreto': False},
  {'Fecha': 1009839600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2002,
   'Valor': 41035271.0,
   'Secreto': False},
  {'Fecha': 1025474400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2002,
   'Valor': 41423520.0,
   'Secreto': False},
  {'Fecha': 1041375600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2003,
   'Valor': 41827836.0,
   'Secreto': False},
  {'Fecha': 1057010400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2003,
   'Valor': 42196231.0,
   'Secreto': False},
  {'Fecha': 1072911600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2004,
   'Valor': 42547454.0,
   'Secreto': False},
  {'Fecha': 1088632800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2004,
   'Valor': 42859172.0,
   'Secreto': False},
  {'Fecha': 1104534000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2005,
   'Valor': 43296335.0,
   'Secreto': False},
  {'Fecha': 1120168800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2005,
   'Valor': 43662613.0,
   'Secreto': False},
  {'Fecha': 1136070000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2006,
   'Valor': 44009969.0,
   'Secreto': False},
  {'Fecha': 1151704800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2006,
   'Valor': 44360521.0,
   'Secreto': False},
  {'Fecha': 1167606000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2007,
   'Valor': 44784659.0,
   'Secreto': False},
  {'Fecha': 1183240800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2007,
   'Valor': 45236004.0,
   'Secreto': False},
  {'Fecha': 1199142000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2008,
   'Valor': 45668938.0,
   'Secreto': False},
  {'Fecha': 1214863200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2008,
   'Valor': 45983169.0,
   'Secreto': False},
  {'Fecha': 1230764400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2009,
   'Valor': 46239271.0,
   'Secreto': False},
  {'Fecha': 1246399200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2009,
   'Valor': 46367550.0,
   'Secreto': False},
  {'Fecha': 1262300400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2010,
   'Valor': 46486621.0,
   'Secreto': False},
  {'Fecha': 1277935200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2010,
   'Valor': 46562483.0,
   'Secreto': False},
  {'Fecha': 1293836400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2011,
   'Valor': 46667175.0,
   'Secreto': False},
  {'Fecha': 1309471200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2011,
   'Valor': 46736257.0,
   'Secreto': False},
  {'Fecha': 1325372400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2012,
   'Valor': 46818216.0,
   'Secreto': False},
  {'Fecha': 1341093600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2012,
   'Valor': 46766403.0,
   'Secreto': False},
  {'Fecha': 1356994800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2013,
   'Valor': 46727890.0,
   'Secreto': False},
  {'Fecha': 1372629600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2013,
   'Valor': 46593236.0,
   'Secreto': False},
  {'Fecha': 1388530800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2014,
   'Valor': 46512199.0,
   'Secreto': False},
  {'Fecha': 1404165600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2014,
   'Valor': 46455123.0,
   'Secreto': False},
  {'Fecha': 1420066800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2015,
   'Valor': 46449565.0,
   'Secreto': False},
  {'Fecha': 1435701600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2015,
   'Valor': 46410149.0,
   'Secreto': False},
  {'Fecha': 1451602800000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2016,
   'Valor': 46440099.0,
   'Secreto': False},
  {'Fecha': 1467324000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2016,
   'Valor': 46449874.0,
   'Secreto': False},
  {'Fecha': 1483225200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2017,
   'Valor': 46527039.0,
   'Secreto': False},
  {'Fecha': 1498860000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2017,
   'Valor': 46532869.0,
   'Secreto': False},
  {'Fecha': 1514761200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2018,
   'Valor': 46658447.0,
   'Secreto': False},
  {'Fecha': 1530396000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2018,
   'Valor': 46728814.0,
   'Secreto': False},
  {'Fecha': 1546297200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2019,
   'Valor': 46937060.0,
   'Secreto': False},
  {'Fecha': 1561932000000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2019,
   'Valor': 47105358.0,
   'Secreto': False},
  {'Fecha': 1577833200000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2020,
   'Valor': 47332614.0,
   'Secreto': False},
  {'Fecha': 1593554400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2020,
   'Valor': 47355685.0,
   'Secreto': False},
  {'Fecha': 1609455600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2021,
   'Valor': 47398695.0,
   'Secreto': False},
  {'Fecha': 1625090400000,
   'FK_TipoDato': 1,
   'FK_Periodo': 27,
   'Anyo': 2021,
   'Valor': 47331302.0,
   'Secreto': False},
  {'Fecha': 1640991600000,
   'FK_TipoDato': 1,
   'FK_Periodo': 26,
   'Anyo': 2022,
   'Valor': 47432893.0,
   'Secreto': False},
  {'Fecha': 1656626400000,
   'FK_TipoDato': 2,
   'FK_Periodo': 27,
   'Anyo': 2022,
   'Valor': 47615034.0,
   'Secreto': False}]}

Hay que procesar para que sean compatibles a un formato tabular

In [12]:
for elemento in datos['Data']:
    print (elemento['Valor'])

34040642.0
34216856.0
34408338.0
34595886.0
34800600.0
34980317.0
35177294.0
35363890.0
35569375.0
35750033.0
35946425.0
36127525.0
36329199.0
36506811.0
36694077.0
36868100.0
37035719.0
37194315.0
37346940.0
37493072.0
37635389.0
37764458.0
37881873.0
37987108.0
38090151.0
38160263.0
38252899.0
38325244.0
38407829.0
38467025.0
38531195.0
38571941.0
38638052.0
38682322.0
38731578.0
38764307.0
38802300.0
38821377.0
38853227.0
38860827.0
38881416.0
38941622.0
39051336.0
39147940.0
39264034.0
39356082.0
39458489.0
39547353.0
39639726.0
39718895.0
39808374.0
39884246.0
39971329.0
40049974.0
40143449.0
40214066.0
40303568.0
40369667.0
40470182.0
40554387.0
40665545.0
40766049.0
41035271.0
41423520.0
41827836.0
42196231.0
42547454.0
42859172.0
43296335.0
43662613.0
44009969.0
44360521.0
44784659.0
45236004.0
45668938.0
45983169.0
46239271.0
46367550.0
46486621.0
46562483.0
46667175.0
46736257.0
46818216.0
46766403.0
46727890.0
46593236.0
46512199.0
46455123.0
46449565.0
46410149.0
46440099.0
46449874.0
46527039.0
46532869.0
46658447.0
46728814.0
46937060.0
47105358.0
47332614.0
47355685.0
47398695.0
47331302.0
47432893.0
47615034.0

In [13]:
for elemento in datos['Data']:
    print (elemento['Fecha'])

31532400000
47170800000
63068400000
78793200000
94690800000
110329200000
126226800000
141861600000
157762800000
173397600000
189298800000
205020000000
220921200000
236556000000
252457200000
268092000000
283993200000
299628000000
315529200000
331250400000
347151600000
362786400000
378687600000
394322400000
410223600000
425858400000
441759600000
457480800000
473382000000
489016800000
504918000000
520552800000
536454000000
552088800000
567990000000
583711200000
599612400000
615247200000
631148400000
646783200000
662684400000
678319200000
694220400000
709941600000
725842800000
741477600000
757378800000
773013600000
788914800000
804549600000
820450800000
836172000000
852073200000
867708000000
883609200000
899244000000
915145200000
930780000000
946681200000
962402400000
978303600000
993938400000
1009839600000
1025474400000
1041375600000
1057010400000
1072911600000
1088632800000
1104534000000
1120168800000
1136070000000
1151704800000
1167606000000
1183240800000
1199142000000
1214863200000
1230764400000
1246399200000
1262300400000
1277935200000
1293836400000
1309471200000
1325372400000
1341093600000
1356994800000
1372629600000
1388530800000
1404165600000
1420066800000
1435701600000
1451602800000
1467324000000
1483225200000
1498860000000
1514761200000
1530396000000
1546297200000
1561932000000
1577833200000
1593554400000
1609455600000
1625090400000
1640991600000
1656626400000

In [14]:
# Recorro la serie del dataframe que contiene los códigos del INE
for codigo in df_codigos.ine_code: #['CP335, 'CP300335','CP300334']
    
    # Cargo en 'datos' el resultado de la función ine_request()
    datos = ine_request(codigo, 999)
    
    # Cargo en nombre_serie el nombre de la serie de datos 
    nombre_serie = datos['Nombre']
    
    # Toma los atributos de cada serie de datos
    for dato in datos['Data']:

        ## Formatos de fecha utilizando datarime

        fecha = datetime.date.fromtimestamp(dato['Fecha'] // 1000)
        valor = dato['Valor']
        fecha_lista.append(fecha)
        valor_lista.append(valor)
        serie_lista.append(nombre_serie)

In [15]:
#  crea un dataframe con todas las listas de datos       
df = pd.DataFrame({
        'Fecha': fecha_lista,
        'Dato' : serie_lista,
        'Población' : valor_lista
    })

In [16]:
df

          Fecha                                               Dato   Población
0    1970-12-31  Total Nacional. Todas las edades. Total. Pobla...  34040642.0
1    1971-06-30  Total Nacional. Todas las edades. Total. Pobla...  34216856.0
2    1971-12-31  Total Nacional. Todas las edades. Total. Pobla...  34408338.0
3    1972-06-30  Total Nacional. Todas las edades. Total. Pobla...  34595886.0
4    1972-12-31  Total Nacional. Todas las edades. Total. Pobla...  34800600.0
..          ...                                                ...         ...
307  2020-06-30  Total Nacional. Todas las edades. Mujeres. Pob...  24146903.0
308  2020-12-31  Total Nacional. Todas las edades. Mujeres. Pob...  24171413.0
309  2021-06-30  Total Nacional. Todas las edades. Mujeres. Pob...  24140027.0
310  2021-12-31  Total Nacional. Todas las edades. Mujeres. Pob...  24195741.0
311  2022-06-30  Total Nacional. Todas las edades. Mujeres. Pob...  24304407.0

[312 rows x 3 columns]

Datos brutos sin información para poder validar la población, hay que empezar a realizar la exploración de datos.

In [17]:
df.rename(columns = {'Fecha':'fecha', 'Dato':'dato', 'Población':'poblacion'}, inplace = True)

Con el inplace, se guardan los resultados.

In [18]:
df

          fecha                                               dato   poblacion
0    1970-12-31  Total Nacional. Todas las edades. Total. Pobla...  34040642.0
1    1971-06-30  Total Nacional. Todas las edades. Total. Pobla...  34216856.0
2    1971-12-31  Total Nacional. Todas las edades. Total. Pobla...  34408338.0
3    1972-06-30  Total Nacional. Todas las edades. Total. Pobla...  34595886.0
4    1972-12-31  Total Nacional. Todas las edades. Total. Pobla...  34800600.0
..          ...                                                ...         ...
307  2020-06-30  Total Nacional. Todas las edades. Mujeres. Pob...  24146903.0
308  2020-12-31  Total Nacional. Todas las edades. Mujeres. Pob...  24171413.0
309  2021-06-30  Total Nacional. Todas las edades. Mujeres. Pob...  24140027.0
310  2021-12-31  Total Nacional. Todas las edades. Mujeres. Pob...  24195741.0
311  2022-06-30  Total Nacional. Todas las edades. Mujeres. Pob...  24304407.0

[312 rows x 3 columns]

In [19]:
max(df.fecha)

datetime.date(2022, 6, 30)

In [20]:
min(df.fecha)

datetime.date(1970, 12, 31)

fromtimestamp es una marca temporal para fecha, la fecha es diferente por el uso horario, la conversion fecha no es la misma entre LATAM y España, a la tutora le dan una fecha antes de la presente.

Secuencia temporal:

In [21]:
max(df.fecha) - min(df.fecha)

datetime.timedelta(days=18809)

devuelve un formato en interacción de fechas.

In [22]:
2022 - 1971

51

Lapsus de 51 años

In [23]:
max(df.poblacion)

47615034.0

In [24]:
min(df.poblacion)

16641744.0

In [25]:
max(df.poblacion) - min(df.poblacion)

30973290.0

In [26]:
(max(df.poblacion) - min(df.poblacion))/1000000

30.97329

Se debe de diferenciar entre max y min por que estamos haciendo una consulta en TOTAL, MASCULINO Y FEMENINO, se debe de separar las consultas.

In [27]:
df.dato

0      Total Nacional. Todas las edades. Total. Pobla...
1      Total Nacional. Todas las edades. Total. Pobla...
2      Total Nacional. Todas las edades. Total. Pobla...
3      Total Nacional. Todas las edades. Total. Pobla...
4      Total Nacional. Todas las edades. Total. Pobla...
                             ...
307    Total Nacional. Todas las edades. Mujeres. Pob...
308    Total Nacional. Todas las edades. Mujeres. Pob...
309    Total Nacional. Todas las edades. Mujeres. Pob...
310    Total Nacional. Todas las edades. Mujeres. Pob...
311    Total Nacional. Todas las edades. Mujeres. Pob...
Name: dato, Length: 312, dtype: object

In [28]:
df.dato.unique()

array(['Total Nacional. Todas las edades. Total. Población. Número. ',
       'Total Nacional. Todas las edades. Hombres. Población. Número. ',
       'Total Nacional. Todas las edades. Mujeres. Población. Número. '],
      dtype=object)

In [29]:
df[df.dato == 'Total Nacional. Todas las edades. Total. Población. Número. ']

          fecha                                               dato   poblacion
0    1970-12-31  Total Nacional. Todas las edades. Total. Pobla...  34040642.0
1    1971-06-30  Total Nacional. Todas las edades. Total. Pobla...  34216856.0
2    1971-12-31  Total Nacional. Todas las edades. Total. Pobla...  34408338.0
3    1972-06-30  Total Nacional. Todas las edades. Total. Pobla...  34595886.0
4    1972-12-31  Total Nacional. Todas las edades. Total. Pobla...  34800600.0
..          ...                                                ...         ...
99   2020-06-30  Total Nacional. Todas las edades. Total. Pobla...  47355685.0
100  2020-12-31  Total Nacional. Todas las edades. Total. Pobla...  47398695.0
101  2021-06-30  Total Nacional. Todas las edades. Total. Pobla...  47331302.0
102  2021-12-31  Total Nacional. Todas las edades. Total. Pobla...  47432893.0
103  2022-06-30  Total Nacional. Todas las edades. Total. Pobla...  47615034.0

[104 rows x 3 columns]

Modificar los datos de dato para que sea mas comprensible.

Se usa la función Split()

In [30]:
str.split??

Signature: str.split(self, /, sep=None, maxsplit=-1)
Docstring:
Return a list of the substrings in the string, using sep as the separator string.

  sep
    The separator used to split the string.

    When set to None (the default value), will split on any whitespace
    character (including \n \r \t \f and spaces) and will discard
    empty strings from the result.
  maxsplit
    Maximum number of splits.
    -1 (the default value) means no limit.

Splitting starts at the front of the string and works to the end.

Note, str.split() is mainly useful for data that has been intentionally
delimited.  With natural text that includes punctuation, consider using
the regular expression module.
Type:      method_descriptor

Si quiero encontrar los atributos, funciones y métodos usar dir()

In [31]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
'hola mundo'.split()

['hola', 'mundo']

In [33]:
'hola.mundo'.split('.')

['hola', 'mundo']

In [34]:
df.dato[0]

'Total Nacional. Todas las edades. Total. Población. Número. '

In [35]:
df.dato[0].split('.')

['Total Nacional', ' Todas las edades', ' Total', ' Población', ' Número', ' ']

In [36]:
# df.dato.split('.')

Podemos realizar lo siguiente para aplicar a cada uno de los datos en la columna.

In [37]:
df.dato.str.split('.')

0      [Total Nacional,  Todas las edades,  Total,  P...
1      [Total Nacional,  Todas las edades,  Total,  P...
2      [Total Nacional,  Todas las edades,  Total,  P...
3      [Total Nacional,  Todas las edades,  Total,  P...
4      [Total Nacional,  Todas las edades,  Total,  P...
                             ...
307    [Total Nacional,  Todas las edades,  Mujeres, ...
308    [Total Nacional,  Todas las edades,  Mujeres, ...
309    [Total Nacional,  Todas las edades,  Mujeres, ...
310    [Total Nacional,  Todas las edades,  Mujeres, ...
311    [Total Nacional,  Todas las edades,  Mujeres, ...
Name: dato, Length: 312, dtype: object

In [38]:
df.dato.str.split('.').str[2]

0         Total
1         Total
2         Total
3         Total
4         Total
         ...
307     Mujeres
308     Mujeres
309     Mujeres
310     Mujeres
311     Mujeres
Name: dato, Length: 312, dtype: object

In [39]:
df['serie'] = df.dato.str.split('.').str[2]

In [40]:
df

,fecha,dato,poblacion,serie
0,1970-12-31,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total
1,1971-06-30,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total
2,1971-12-31,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total
3,1972-06-30,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total
4,1972-12-31,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total
...,...,...,...,...
307,2020-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres
308,2020-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres
309,2021-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres
310,2021-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres
311,2022-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres

Ya podemos entonces empezar a hacer exploración.

In [41]:
df.serie == 'Total'

0      False
1      False
2      False
3      False
4      False
       ...
307    False
308    False
309    False
310    False
311    False
Name: serie, Length: 312, dtype: bool

Encontramos que hay información en FALSE,

In [42]:
df[df.serie == 'Total']

Empty DataFrame
Columns: [fecha, dato, poblacion, serie]
Index: []

No encontramos los valores, por lo tanto, es posible que existe un error lógico asi que evidenciamos mediante:

In [43]:
df.serie.unique()

array([' Total', ' Hombres', ' Mujeres'], dtype=object)

Encontramos que Total tiene espacio

In [44]:
df.serie == ' Total'

0       True
1       True
2       True
3       True
4       True
       ...
307    False
308    False
309    False
310    False
311    False
Name: serie, Length: 312, dtype: bool

In [45]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

la función stripo ayuda a eliminar espacios de antes y despues de las palabras, se usa dentro de las serie de datos los ste

In [46]:
df.serie.str.strip()

0        Total
1        Total
2        Total
3        Total
4        Total
        ...
307    Mujeres
308    Mujeres
309    Mujeres
310    Mujeres
311    Mujeres
Name: serie, Length: 312, dtype: object

In [47]:
df.serie = df.serie.str.strip()

Como ya existe, se usa el df.serie

In [48]:
df.serie.unique()

array(['Total', 'Hombres', 'Mujeres'], dtype=object)

Ya no muestran las palabras con espacios.

In [49]:
df[df.serie == 'Total']

,fecha,dato,poblacion,serie
0,1970-12-31,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total
1,1971-06-30,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total
2,1971-12-31,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total
3,1972-06-30,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total
4,1972-12-31,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total
...,...,...,...,...
99,2020-06-30,Total Nacional. Todas las edades. Total. Pobla...,47355685.0,Total
100,2020-12-31,Total Nacional. Todas las edades. Total. Pobla...,47398695.0,Total
101,2021-06-30,Total Nacional. Todas las edades. Total. Pobla...,47331302.0,Total
102,2021-12-31,Total Nacional. Todas las edades. Total. Pobla...,47432893.0,Total
103,2022-06-30,Total Nacional. Todas las edades. Total. Pobla...,47615034.0,Total

In [50]:
df[df.serie == 'Mujeres']

,fecha,dato,poblacion,serie
208,1970-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,17398898.0,Mujeres
209,1971-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,17485953.0,Mujeres
210,1971-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,17580397.0,Mujeres
211,1972-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,17672353.0,Mujeres
212,1972-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,17772628.0,Mujeres
...,...,...,...,...
307,2020-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres
308,2020-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres
309,2021-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres
310,2021-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres
311,2022-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres

In [51]:
df[df.serie == 'Hombres']

,fecha,dato,poblacion,serie
104,1970-12-31,Total Nacional. Todas las edades. Hombres. Pob...,16641744.0,Hombres
105,1971-06-30,Total Nacional. Todas las edades. Hombres. Pob...,16730904.0,Hombres
106,1971-12-31,Total Nacional. Todas las edades. Hombres. Pob...,16827942.0,Hombres
107,1972-06-30,Total Nacional. Todas las edades. Hombres. Pob...,16923533.0,Hombres
108,1972-12-31,Total Nacional. Todas las edades. Hombres. Pob...,17027972.0,Hombres
...,...,...,...,...
203,2020-06-30,Total Nacional. Todas las edades. Hombres. Pob...,23208782.0,Hombres
204,2020-12-31,Total Nacional. Todas las edades. Hombres. Pob...,23227282.0,Hombres
205,2021-06-30,Total Nacional. Todas las edades. Hombres. Pob...,23191275.0,Hombres
206,2021-12-31,Total Nacional. Todas las edades. Hombres. Pob...,23237152.0,Hombres
207,2022-06-30,Total Nacional. Todas las edades. Hombres. Pob...,23310627.0,Hombres

In [52]:
df[df.serie == 'Total'].max()

fecha                                               2022-06-30
dato         Total Nacional. Todas las edades. Total. Pobla...
poblacion                                           47615034.0
serie                                                    Total
dtype: object

In [53]:
df.poblacion[df.serie == 'Total'].max()

np.float64(47615034.0)

In [54]:
df.poblacion[df.serie == 'Total'].min()

np.float64(34040642.0)

In [55]:
df.poblacion[df.serie == 'Total'].max() - df.poblacion[df.serie == 'Total'].min()

np.float64(13574392.0)

In [56]:
(df.poblacion[df.serie == 'Total'].max() - df.poblacion[df.serie == 'Total'].min())/1000000

np.float64(13.574392)

Encontramos la relación entre el maximo y el mínimo y encontramos que la diferencia fue de 13.57 millones

Vamos a agrupar:

In [57]:
df.groupby('serie')

In [58]:
df.groupby('serie').poblacion.agg(['max','min'])

                max         min
serie
Hombres  23310627.0  16641744.0
Mujeres  24304407.0  17398898.0
Total    47615034.0  34040642.0

In [59]:
df.groupby('serie').poblacion.agg(['max','min','mean'])

                max         min          mean
serie
Hombres  23310627.0  16641744.0  2.020241e+07
Mujeres  24304407.0  17398898.0  2.094578e+07
Total    47615034.0  34040642.0  4.114819e+07

Queremos identficiar si la media es relacionada con los valores poblacionales.

In [60]:
df.groupby('serie').poblacion.transform('mean')

0      4.114819e+07
1      4.114819e+07
2      4.114819e+07
3      4.114819e+07
4      4.114819e+07
           ...
307    2.094578e+07
308    2.094578e+07
309    2.094578e+07
310    2.094578e+07
311    2.094578e+07
Name: poblacion, Length: 312, dtype: float64

In [61]:
df.groupby('serie').poblacion.transform('mean').apply(lambda x: format(x, '0.2f'))

0      41148193.47
1      41148193.47
2      41148193.47
3      41148193.47
4      41148193.47
          ...
307    20945782.89
308    20945782.89
309    20945782.89
310    20945782.89
311    20945782.89
Name: poblacion, Length: 312, dtype: object

Se agrupa en serie, de población se saca la media en serie de datos (posición natural) se aplica función lambda para cambiar el formato ya que la media está en formato científico con solo dos decimales.

o podemos usar:

In [62]:
round(df.groupby('serie').poblacion.transform('mean'),2)

0      41148193.47
1      41148193.47
2      41148193.47
3      41148193.47
4      41148193.47
          ...
307    20945782.89
308    20945782.89
309    20945782.89
310    20945782.89
311    20945782.89
Name: poblacion, Length: 312, dtype: float64

In [63]:
df['media_pob'] = round(df.groupby('serie').poblacion.transform('mean'),2)

In [64]:
df

,fecha,dato,poblacion,serie,media_pob
0,1970-12-31,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47
1,1971-06-30,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47
2,1971-12-31,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47
3,1972-06-30,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47
4,1972-12-31,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47
...,...,...,...,...,...
307,2020-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89
308,2020-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89
309,2021-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89
310,2021-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89
311,2022-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89

In [65]:
df['poblacion'] - df['media_pob']

0     -7107551.47
1     -6931337.47
2     -6739855.47
3     -6552307.47
4     -6347593.47
          ...
307    3201120.11
308    3225630.11
309    3194244.11
310    3249958.11
311    3358624.11
Length: 312, dtype: float64

Relación entre la población y la media población.

Podriamos encontrar cuando la población ha sido menor a la media.

Si queremos transformar datos se usaria:

In [66]:
#df.media_pob.astype('float')

In [67]:
df['dif_pob_media'] = df['poblacion'] - df['media_pob']

In [68]:
df

,fecha,dato,poblacion,serie,media_pob,dif_pob_media
0,1970-12-31,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47
1,1971-06-30,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47
2,1971-12-31,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47
3,1972-06-30,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47
4,1972-12-31,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47
...,...,...,...,...,...,...
307,2020-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11
308,2020-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11
309,2021-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11
310,2021-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11
311,2022-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11

¿En que fechas la población es por debajo de la media?

In [69]:
df[df.dif_pob_media <= 0]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media
0,1970-12-31,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47
1,1971-06-30,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47
2,1971-12-31,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47
3,1972-06-30,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47
4,1972-12-31,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47
...,...,...,...,...,...,...
266,1999-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,20643843.0,Mujeres,20945782.89,-301939.89
267,2000-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,20685751.0,Mujeres,20945782.89,-260031.89
268,2000-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,20741653.0,Mujeres,20945782.89,-204129.89
269,2001-06-30,Total Nacional. Todas las edades. Mujeres. Pob...,20793005.0,Mujeres,20945782.89,-152777.89
270,2001-12-31,Total Nacional. Todas las edades. Mujeres. Pob...,20919749.0,Mujeres,20945782.89,-26033.89

No hemos filtrado a la serie de datos:

In [70]:
df[(df.dif_pob_media <= 0) & (df.serie == 'Total')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media
0,1970-12-31,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47
1,1971-06-30,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47
2,1971-12-31,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47
3,1972-06-30,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47
4,1972-12-31,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47
...,...,...,...,...,...,...
58,1999-12-31,Total Nacional. Todas las edades. Total. Pobla...,40470182.0,Total,41148193.47,-678011.47
59,2000-06-30,Total Nacional. Todas las edades. Total. Pobla...,40554387.0,Total,41148193.47,-593806.47
60,2000-12-31,Total Nacional. Todas las edades. Total. Pobla...,40665545.0,Total,41148193.47,-482648.47
61,2001-06-30,Total Nacional. Todas las edades. Total. Pobla...,40766049.0,Total,41148193.47,-382144.47
62,2001-12-31,Total Nacional. Todas las edades. Total. Pobla...,41035271.0,Total,41148193.47,-112922.47

¿como interpretamos esto?

In [71]:
pd.options.display.max_rows = 70

In [72]:
df[(df.dif_pob_media <= 0) & (df.serie == 'Total')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media
0,1970-12-31,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47
1,1971-06-30,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47
2,1971-12-31,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47
3,1972-06-30,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47
4,1972-12-31,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47
5,1973-06-30,Total Nacional. Todas las edades. Total. Pobla...,34980317.0,Total,41148193.47,-6167876.47
6,1973-12-31,Total Nacional. Todas las edades. Total. Pobla...,35177294.0,Total,41148193.47,-5970899.47
7,1974-06-30,Total Nacional. Todas las edades. Total. Pobla...,35363890.0,Total,41148193.47,-5784303.47
8,1974-12-31,Total Nacional. Todas las edades. Total. Pobla...,35569375.0,Total,41148193.47,-5578818.47
9,1975-06-30,Total Nacional. Todas las edades. Total. Pobla...,35750033.0,Total,41148193.47,-5398160.47
10,1975-12-31,Total Nacional. Todas las edades. Total. Pobla...,35946425.0,Total,41148193.47,-5201768.47
11,1976-06-30,Total Nacional. Todas las edades. Total. Pobla...,36127525.0,Total,41148193.47,-5020668.47
12,1976-12-31,Total Nacional. Todas las edades. Total. Pobla...,36329199.0,Total,41148193.47,-4818994.47
13,1977-06-30,Total Nacional. Todas las edades. Total. Pobla...,36506811.0,Total,41148193.47,-4641382.47
14,1977-12-31,Total Nacional. Todas las edades. Total. Pobla...,36694077.0,Total,41148193.47,-4454116.47
15,1978-06-30,Total Nacional. Todas las edades. Total. Pobla...,36868100.0,Total,41148193.47,-4280093.47
16,1978-12-31,Total Nacional. Todas las edades. Total. Pobla...,37035719.0,Total,41148193.47,-4112474.47
17,1979-06-30,Total Nacional. Todas las edades. Total. Pobla...,37194315.0,Total,41148193.47,-3953878.47
18,1979-12-31,Total Nacional. Todas las edades. Total. Pobla...,37346940.0,Total,41148193.47,-3801253.47
19,1980-06-30,Total Nacional. Todas las edades. Total. Pobla...,37493072.0,Total,41148193.47,-3655121.47
20,1980-12-31,Total Nacional. Todas las edades. Total. Pobla...,37635389.0,Total,41148193.47,-3512804.47
21,1981-06-30,Total Nacional. Todas las edades. Total. Pobla...,37764458.0,Total,41148193.47,-3383735.47
22,1981-12-31,Total Nacional. Todas las edades. Total. Pobla...,37881873.0,Total,41148193.47,-3266320.47
23,1982-06-30,Total Nacional. Todas las edades. Total. Pobla...,37987108.0,Total,41148193.47,-3161085.47
24,1982-12-31,Total Nacional. Todas las edades. Total. Pobla...,38090151.0,Total,41148193.47,-3058042.47
25,1983-06-30,Total Nacional. Todas las edades. Total. Pobla...,38160263.0,Total,41148193.47,-2987930.47
26,1983-12-31,Total Nacional. Todas las edades. Total. Pobla...,38252899.0,Total,41148193.47,-2895294.47
27,1984-06-30,Total Nacional. Todas las edades. Total. Pobla...,38325244.0,Total,41148193.47,-2822949.47
28,1984-12-31,Total Nacional. Todas las edades. Total. Pobla...,38407829.0,Total,41148193.47,-2740364.47
29,1985-06-30,Total Nacional. Todas las edades. Total. Pobla...,38467025.0,Total,41148193.47,-2681168.47
30,1985-12-31,Total Nacional. Todas las edades. Total. Pobla...,38531195.0,Total,41148193.47,-2616998.47
31,1986-06-30,Total Nacional. Todas las edades. Total. Pobla...,38571941.0,Total,41148193.47,-2576252.47
32,1986-12-31,Total Nacional. Todas las edades. Total. Pobla...,38638052.0,Total,41148193.47,-2510141.47
33,1987-06-30,Total Nacional. Todas las edades. Total. Pobla...,38682322.0,Total,41148193.47,-2465871.47
34,1987-12-31,Total Nacional. Todas las edades. Total. Pobla...,38731578.0,Total,41148193.47,-2416615.47
35,1988-06-30,Total Nacional. Todas las edades. Total. Pobla...,38764307.0,Total,41148193.47,-2383886.47
36,1988-12-31,Total Nacional. Todas las edades. Total. Pobla...,38802300.0,Total,41148193.47,-2345893.47
37,1989-06-30,Total Nacional. Todas las edades. Total. Pobla...,38821377.0,Total,41148193.47,-2326816.47
38,1989-12-31,Total Nacional. Todas las edades. Total. Pobla...,38853227.0,Total,41148193.47,-2294966.47
39,1990-06-30,Total Nacional. Todas las edades. Total. Pobla...,38860827.0,Total,41148193.47,-2287366.47
40,1990-12-31,Total Nacional. Todas las edades. Total. Pobla...,38881416.0,Total,41148193.47,-2266777.47
41,1991-06-30,Total Nacional. Todas las edades. Total. Pobla...,38941622.0,Total,41148193.47,-2206571.47
42,1991-12-31,Total Nacional. Todas las edades. Total. Pobla...,39051336.0,Total,41148193.47,-2096857.47
43,1992-06-30,Total Nacional. Todas las edades. Total. Pobla...,39147940.0,Total,41148193.47,-2000253.47
44,1992-12-31,Total Nacional. Todas las edades. Total. Pobla...,39264034.0,Total,41148193.47,-1884159.47
45,1993-06-30,Total Nacional. Todas las edades. Total. Pobla...,39356082.0,Total,41148193.47,-1792111.47
46,1993-12-31,Total Nacional. Todas las edades. Total. Pobla...,39458489.0,Total,41148193.47,-1689704.47
47,1994-06-30,Total Nacional. Todas las edades. Total. Pobla...,39547353.0,Total,41148193.47,-1600840.47
48,1994-12-31,Total Nacional. Todas las edades. Total. Pobla...,39639726.0,Total,41148193.47,-1508467.47
49,1995-06-30,Total Nacional. Todas las edades. Total. Pobla...,39718895.0,Total,41148193.47,-1429298.47
50,1995-12-31,Total Nacional. Todas las edades. Total. Pobla...,39808374.0,Total,41148193.47,-1339819.47
51,1996-06-30,Total Nacional. Todas las edades. Total. Pobla...,39884246.0,Total,41148193.47,-1263947.47
52,1996-12-31,Total Nacional. Todas las edades. Total. Pobla...,39971329.0,Total,41148193.47,-1176864.47
53,1997-06-30,Total Nacional. Todas las edades. Total. Pobla...,40049974.0,Total,41148193.47,-1098219.47
54,1997-12-31,Total Nacional. Todas las edades. Total. Pobla...,40143449.0,Total,41148193.47,-1004744.47
55,1998-06-30,Total Nacional. Todas las edades. Total. Pobla...,40214066.0,Total,41148193.47,-934127.47
56,1998-12-31,Total Nacional. Todas las edades. Total. Pobla...,40303568.0,Total,41148193.47,-844625.47
57,1999-06-30,Total Nacional. Todas las edades. Total. Pobla...,40369667.0,Total,41148193.47,-778526.47
58,1999-12-31,Total Nacional. Todas las edades. Total. Pobla...,40470182.0,Total,41148193.47,-678011.47
59,2000-06-30,Total Nacional. Todas las edades. Total. Pobla...,40554387.0,Total,41148193.47,-593806.47
60,2000-12-31,Total Nacional. Todas las edades. Total. Pobla...,40665545.0,Total,41148193.47,-482648.47
61,2001-06-30,Total Nacional. Todas las edades. Total. Pobla...,40766049.0,Total,41148193.47,-382144.47
62,2001-12-31,Total Nacional. Todas las edades. Total. Pobla...,41035271.0,Total,41148193.47,-112922.47

Para trabajar con fechas, revisamos que formato tiene,

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fecha          312 non-null    object
 1   dato           312 non-null    object
 2   poblacion      312 non-null    float64
 3   serie          312 non-null    object
 4   media_pob      312 non-null    float64
 5   dif_pob_media  312 non-null    float64
dtypes: float64(3), object(3)
memory usage: 14.8+ KB

para saber que tipo de dato es Object

In [74]:
df.fecha[0]

datetime.date(1970, 12, 31)

In [75]:
df.fecha[0].year

1970

In [76]:
#df.fecha.dt.year

AttributeError: Can only use .dt accessor with datetimelike values

No me deja usar, hay que cambiar el object a formato de fecha.

In [77]:
pd.to_datetime(df.fecha)

0     1970-12-31
1     1971-06-30
2     1971-12-31
3     1972-06-30
4     1972-12-31
         ...
307   2020-06-30
308   2020-12-31
309   2021-06-30
310   2021-12-31
311   2022-06-30
Name: fecha, Length: 312, dtype: datetime64[ns]

In [78]:
df.fecha = pd.to_datetime(df.fecha)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fecha          312 non-null    datetime64[ns]
 1   dato           312 non-null    object
 2   poblacion      312 non-null    float64
 3   serie          312 non-null    object
 4   media_pob      312 non-null    float64
 5   dif_pob_media  312 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 14.8+ KB

In [80]:
df.fecha.dt.year

0      1970
1      1971
2      1971
3      1972
4      1972
       ...
307    2020
308    2020
309    2021
310    2021
311    2022
Name: fecha, Length: 312, dtype: int32

como cambiar el formato temporal que aparece en PYTHON: timedelta, formato temporal que permite operar con fechas.

In [81]:
df.fecha

0     1970-12-31
1     1971-06-30
2     1971-12-31
3     1972-06-30
4     1972-12-31
         ...
307   2020-06-30
308   2020-12-31
309   2021-06-30
310   2021-12-31
311   2022-06-30
Name: fecha, Length: 312, dtype: datetime64[ns]

apply ayuda a generar una funcion que no está definida en cada uno de los datos.

In [82]:
df.fecha.apply(lambda x: x + datetime.timedelta(1))

0     1971-01-01
1     1971-07-01
2     1972-01-01
3     1972-07-01
4     1973-01-01
         ...
307   2020-07-01
308   2021-01-01
309   2021-07-01
310   2022-01-01
311   2022-07-01
Name: fecha, Length: 312, dtype: datetime64[ns]

In [83]:
datetime.timedelta??

Init signature: datetime.timedelta(self, /, *args, **kwargs)
Docstring:
Difference between two datetime values.

timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

All arguments are optional and default to 0.
Arguments may be integers or floats, and may be positive or negative.
File:           d:\hanner\anaconda\envs\myanalystspace\lib\datetime.py
Type:           type
Subclasses:     _Timedelta

In [84]:
df.fecha = df.fecha.apply(lambda x: x + datetime.timedelta(1))

In [85]:
df

,fecha,dato,poblacion,serie,media_pob,dif_pob_media
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47
...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11

queremos sacar infor de fecha para tener una idea clara para establecer la diferencia entre medias y población, quermos aber si la secuencia de fecchas es consecutiva.

podemos la funciiones lamnda si con un valor individual nos permite aplicar cualquier filtro:

In [86]:
df.fecha[0].year

1971

In [87]:
df.fecha.apply(lambda x: x.year)

0      1971
1      1971
2      1972
3      1972
4      1973
       ...
307    2020
308    2021
309    2021
310    2022
311    2022
Name: fecha, Length: 312, dtype: int64

Usar la modalidad mas eficiente ya que usando el apply, se tiene un int64

In [88]:
df.fecha.dt.year

0      1971
1      1971
2      1972
3      1972
4      1973
       ...
307    2020
308    2021
309    2021
310    2022
311    2022
Name: fecha, Length: 312, dtype: int32

In [89]:
df['month'] = df.fecha.dt.month

In [90]:
df['year'] = df.fecha.dt.year

In [91]:
df

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47,1,1971
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47,7,1971
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47,1,1972
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47,7,1972
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973
...,...,...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11,7,2020
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11,1,2021
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11,1,2022
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11,7,2022

In [92]:
df[(df.dif_pob_media <= 0) & (df.serie == 'Total')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47,1,1971
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47,7,1971
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47,1,1972
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47,7,1972
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973
5,1973-07-01,Total Nacional. Todas las edades. Total. Pobla...,34980317.0,Total,41148193.47,-6167876.47,7,1973
6,1974-01-01,Total Nacional. Todas las edades. Total. Pobla...,35177294.0,Total,41148193.47,-5970899.47,1,1974
7,1974-07-01,Total Nacional. Todas las edades. Total. Pobla...,35363890.0,Total,41148193.47,-5784303.47,7,1974
8,1975-01-01,Total Nacional. Todas las edades. Total. Pobla...,35569375.0,Total,41148193.47,-5578818.47,1,1975
9,1975-07-01,Total Nacional. Todas las edades. Total. Pobla...,35750033.0,Total,41148193.47,-5398160.47,7,1975
10,1976-01-01,Total Nacional. Todas las edades. Total. Pobla...,35946425.0,Total,41148193.47,-5201768.47,1,1976
11,1976-07-01,Total Nacional. Todas las edades. Total. Pobla...,36127525.0,Total,41148193.47,-5020668.47,7,1976
12,1977-01-01,Total Nacional. Todas las edades. Total. Pobla...,36329199.0,Total,41148193.47,-4818994.47,1,1977
13,1977-07-01,Total Nacional. Todas las edades. Total. Pobla...,36506811.0,Total,41148193.47,-4641382.47,7,1977
14,1978-01-01,Total Nacional. Todas las edades. Total. Pobla...,36694077.0,Total,41148193.47,-4454116.47,1,1978
15,1978-07-01,Total Nacional. Todas las edades. Total. Pobla...,36868100.0,Total,41148193.47,-4280093.47,7,1978
16,1979-01-01,Total Nacional. Todas las edades. Total. Pobla...,37035719.0,Total,41148193.47,-4112474.47,1,1979
17,1979-07-01,Total Nacional. Todas las edades. Total. Pobla...,37194315.0,Total,41148193.47,-3953878.47,7,1979
18,1980-01-01,Total Nacional. Todas las edades. Total. Pobla...,37346940.0,Total,41148193.47,-3801253.47,1,1980
19,1980-07-01,Total Nacional. Todas las edades. Total. Pobla...,37493072.0,Total,41148193.47,-3655121.47,7,1980
20,1981-01-01,Total Nacional. Todas las edades. Total. Pobla...,37635389.0,Total,41148193.47,-3512804.47,1,1981
21,1981-07-01,Total Nacional. Todas las edades. Total. Pobla...,37764458.0,Total,41148193.47,-3383735.47,7,1981
22,1982-01-01,Total Nacional. Todas las edades. Total. Pobla...,37881873.0,Total,41148193.47,-3266320.47,1,1982
23,1982-07-01,Total Nacional. Todas las edades. Total. Pobla...,37987108.0,Total,41148193.47,-3161085.47,7,1982
24,1983-01-01,Total Nacional. Todas las edades. Total. Pobla...,38090151.0,Total,41148193.47,-3058042.47,1,1983
25,1983-07-01,Total Nacional. Todas las edades. Total. Pobla...,38160263.0,Total,41148193.47,-2987930.47,7,1983
26,1984-01-01,Total Nacional. Todas las edades. Total. Pobla...,38252899.0,Total,41148193.47,-2895294.47,1,1984
27,1984-07-01,Total Nacional. Todas las edades. Total. Pobla...,38325244.0,Total,41148193.47,-2822949.47,7,1984
28,1985-01-01,Total Nacional. Todas las edades. Total. Pobla...,38407829.0,Total,41148193.47,-2740364.47,1,1985
29,1985-07-01,Total Nacional. Todas las edades. Total. Pobla...,38467025.0,Total,41148193.47,-2681168.47,7,1985
30,1986-01-01,Total Nacional. Todas las edades. Total. Pobla...,38531195.0,Total,41148193.47,-2616998.47,1,1986
31,1986-07-01,Total Nacional. Todas las edades. Total. Pobla...,38571941.0,Total,41148193.47,-2576252.47,7,1986
32,1987-01-01,Total Nacional. Todas las edades. Total. Pobla...,38638052.0,Total,41148193.47,-2510141.47,1,1987
33,1987-07-01,Total Nacional. Todas las edades. Total. Pobla...,38682322.0,Total,41148193.47,-2465871.47,7,1987
34,1988-01-01,Total Nacional. Todas las edades. Total. Pobla...,38731578.0,Total,41148193.47,-2416615.47,1,1988
35,1988-07-01,Total Nacional. Todas las edades. Total. Pobla...,38764307.0,Total,41148193.47,-2383886.47,7,1988
36,1989-01-01,Total Nacional. Todas las edades. Total. Pobla...,38802300.0,Total,41148193.47,-2345893.47,1,1989
37,1989-07-01,Total Nacional. Todas las edades. Total. Pobla...,38821377.0,Total,41148193.47,-2326816.47,7,1989
38,1990-01-01,Total Nacional. Todas las edades. Total. Pobla...,38853227.0,Total,41148193.47,-2294966.47,1,1990
39,1990-07-01,Total Nacional. Todas las edades. Total. Pobla...,38860827.0,Total,41148193.47,-2287366.47,7,1990
40,1991-01-01,Total Nacional. Todas las edades. Total. Pobla...,38881416.0,Total,41148193.47,-2266777.47,1,1991
41,1991-07-01,Total Nacional. Todas las edades. Total. Pobla...,38941622.0,Total,41148193.47,-2206571.47,7,1991
42,1992-01-01,Total Nacional. Todas las edades. Total. Pobla...,39051336.0,Total,41148193.47,-2096857.47,1,1992
43,1992-07-01,Total Nacional. Todas las edades. Total. Pobla...,39147940.0,Total,41148193.47,-2000253.47,7,1992
44,1993-01-01,Total Nacional. Todas las edades. Total. Pobla...,39264034.0,Total,41148193.47,-1884159.47,1,1993
45,1993-07-01,Total Nacional. Todas las edades. Total. Pobla...,39356082.0,Total,41148193.47,-1792111.47,7,1993
46,1994-01-01,Total Nacional. Todas las edades. Total. Pobla...,39458489.0,Total,41148193.47,-1689704.47,1,1994
47,1994-07-01,Total Nacional. Todas las edades. Total. Pobla...,39547353.0,Total,41148193.47,-1600840.47,7,1994
48,1995-01-01,Total Nacional. Todas las edades. Total. Pobla...,39639726.0,Total,41148193.47,-1508467.47,1,1995
49,1995-07-01,Total Nacional. Todas las edades. Total. Pobla...,39718895.0,Total,41148193.47,-1429298.47,7,1995
50,1996-01-01,Total Nacional. Todas las edades. Total. Pobla...,39808374.0,Total,41148193.47,-1339819.47,1,1996
51,1996-07-01,Total Nacional. Todas las edades. Total. Pobla...,39884246.0,Total,41148193.47,-1263947.47,7,1996
52,1997-01-01,Total Nacional. Todas las edades. Total. Pobla...,39971329.0,Total,41148193.47,-1176864.47,1,1997
53,1997-07-01,Total Nacional. Todas las edades. Total. Pobla...,40049974.0,Total,41148193.47,-1098219.47,7,1997
54,1998-01-01,Total Nacional. Todas las edades. Total. Pobla...,40143449.0,Total,41148193.47,-1004744.47,1,1998
55,1998-07-01,Total Nacional. Todas las edades. Total. Pobla...,40214066.0,Total,41148193.47,-934127.47,7,1998
56,1999-01-01,Total Nacional. Todas las edades. Total. Pobla...,40303568.0,Total,41148193.47,-844625.47,1,1999
57,1999-07-01,Total Nacional. Todas las edades. Total. Pobla...,40369667.0,Total,41148193.47,-778526.47,7,1999
58,2000-01-01,Total Nacional. Todas las edades. Total. Pobla...,40470182.0,Total,41148193.47,-678011.47,1,2000
59,2000-07-01,Total Nacional. Todas las edades. Total. Pobla...,40554387.0,Total,41148193.47,-593806.47,7,2000
60,2001-01-01,Total Nacional. Todas las edades. Total. Pobla...,40665545.0,Total,41148193.47,-482648.47,1,2001
61,2001-07-01,Total Nacional. Todas las edades. Total. Pobla...,40766049.0,Total,41148193.47,-382144.47,7,2001
62,2002-01-01,Total Nacional. Todas las edades. Total. Pobla...,41035271.0,Total,41148193.47,-112922.47,1,2002

In [93]:
df[(df.dif_pob_media <= 0) & (df.serie == 'Total')].year.unique()

array([1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002],
      dtype=int32)

Devuelve los años que la población total ha tenido valor por debajo de la media.

In [94]:
len(df[(df.dif_pob_media <= 0) & (df.serie == 'Total')].year.unique())

32

In [95]:
df[(df.dif_pob_media >= 0) & (df.serie == 'Total')].year.unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype=int32)

El crecimiento de la población desde 1971 hasta 2022 y en el crecimiento primero con valores por debajo de la media y luego del 2022 hay un aumento del incremento poblacional.

In [96]:
len(df[(df.dif_pob_media >= 0) & (df.serie == 'Total')].year.unique())

21

La tasa de crecimiento no es constante.

In [97]:
df[(df.dif_pob_media <= 0) & (df.serie == 'Mujeres')].year.unique()

array([1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002],
      dtype=int32)

In [98]:
df[(df.dif_pob_media >= 0) & (df.serie == 'Mujeres')].year.unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype=int32)

In [99]:
df[(df.dif_pob_media <= 0) & (df.serie == 'Hombres')].year.unique()

array([1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002],
      dtype=int32)

In [100]:
df[(df.dif_pob_media >= 0) & (df.serie == 'Hombres')].year.unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype=int32)

Encontramos que las tres series se comportan de la misma manera.

Se realizará un estudio de la variación de la población, ya que ha venido creciendo pero algo indica que el ritmo no es constante, se puede identificar el ritmo de crecimiento.

In [104]:
df

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47,1,1971
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47,7,1971
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47,1,1972
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47,7,1972
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973
...,...,...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11,7,2020
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11,1,2021
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11,1,2022
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11,7,2022

Con las fechas, marcan intervalos constantes podemos restar entre una fecha a otra para identificar un ritmo de crecimiento entre esas dos fechas. Podemos validar si existe una función que apoye, podemos consultar la documentación. : dir(df)

In [105]:
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'dato',
 'describe',
 'dif_pob_media',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'fecha',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'media_pob',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'month',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'poblacion',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'serie',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs',
 'year']

In [106]:
df.shift??

Signature:
df.shift(
    periods: 'int | Sequence[int]' = 1,
    freq: 'Frequency | None' = None,
    axis: 'Axis' = 0,
    fill_value: 'Hashable' = <no_default>,
    suffix: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Shift index by desired number of periods with an optional time `freq`.

When `freq` is not passed, shift the index without realigning the data.
If `freq` is passed (in this case, the index must be date or datetime,
or it will raise a `NotImplementedError`), the index will be
increased using the periods and the `freq`. `freq` can be inferred
when specified as "infer" as long as either freq or inferred_freq
attribute is set in the index.

Parameters
----------
periods : int or Sequence
    Number of periods to shift. Can be positive or negative.
    If an iterable of ints, the data will be shifted once by each int.
    This is equivalent to shifting by one value at a time and
    concatenating all resulting frames. The resulting columns will have
    the shift suffixed to their column names. For multiple periods,
    axis must not be 1.
freq : DateOffset, tseries.offsets, timedelta, or str, optional
    Offset to use from the tseries module or time rule (e.g. 'EOM').
    If `freq` is specified then the index values are shifted but the
    data is not realigned. That is, use `freq` if you would like to
    extend the index when shifting and preserve the original data.
    If `freq` is specified as "infer" then it will be inferred from
    the freq or inferred_freq attributes of the index. If neither of
    those attributes exist, a ValueError is thrown.
axis : {0 or 'index', 1 or 'columns', None}, default None
    Shift direction. For `Series` this parameter is unused and defaults to 0.
fill_value : object, optional
    The scalar value to use for newly introduced missing values.
    the default depends on the dtype of `self`.
    For numeric data, ``np.nan`` is used.
    For datetime, timedelta, or period data, etc. :attr:`NaT` is used.
    For extension dtypes, ``self.dtype.na_value`` is used.
suffix : str, optional
    If str and periods is an iterable, this is added after the column
    name and before the shift value for each shifted column name.

Returns
-------
DataFrame
    Copy of input object, shifted.

See Also
--------
Index.shift : Shift values of Index.
DatetimeIndex.shift : Shift values of DatetimeIndex.
PeriodIndex.shift : Shift values of PeriodIndex.

Examples
--------
>>> df = pd.DataFrame({"Col1": [10, 20, 15, 30, 45],
...                    "Col2": [13, 23, 18, 33, 48],
...                    "Col3": [17, 27, 22, 37, 52]},
...                   index=pd.date_range("2020-01-01", "2020-01-05"))
>>> df
            Col1  Col2  Col3
2020-01-01    10    13    17
2020-01-02    20    23    27
2020-01-03    15    18    22
2020-01-04    30    33    37
2020-01-05    45    48    52

>>> df.shift(periods=3)
            Col1  Col2  Col3
2020-01-01   NaN   NaN   NaN
2020-01-02   NaN   NaN   NaN
2020-01-03   NaN   NaN   NaN
2020-01-04  10.0  13.0  17.0
2020-01-05  20.0  23.0  27.0

>>> df.shift(periods=1, axis="columns")
            Col1  Col2  Col3
2020-01-01   NaN    10    13
2020-01-02   NaN    20    23
2020-01-03   NaN    15    18
2020-01-04   NaN    30    33
2020-01-05   NaN    45    48

>>> df.shift(periods=3, fill_value=0)
            Col1  Col2  Col3
2020-01-01     0     0     0
2020-01-02     0     0     0
2020-01-03     0     0     0
2020-01-04    10    13    17
2020-01-05    20    23    27

>>> df.shift(periods=3, freq="D")
            Col1  Col2  Col3
2020-01-04    10    13    17
2020-01-05    20    23    27
2020-01-06    15    18    22
2020-01-07    30    33    37
2020-01-08    45    48    52

>>> df.shift(periods=3, freq="infer")
            Col1  Col2  Col3
2020-01-04    10    13    17
2020-01-05    20    23    27
2020-01-06    15    18    22
2020-01-07    30    33    37
2020-01-08    45    48    52

>>> df['Col1'].shift(periods=[0, 1, 2])
            Col1_0  Col1_1  Col1_2
2020-01-01      10     NaN     NaN
2020-01-02      20    10.0     NaN
2020-01-03      15    20.0    10.0
2020-01-04      30    15.0    20.0
2020-01-05      45    30.0    15.0
Source:
    @doc(NDFrame.shift, klass=_shared_doc_kwargs["klass"])
    def shift(
        self,
        periods: int | Sequence[int] = 1,
        freq: Frequency | None = None,
        axis: Axis = 0,
        fill_value: Hashable = lib.no_default,
        suffix: str | None = None,
    ) -> DataFrame:
        if freq is not None and fill_value is not lib.no_default:
            # GH#53832
            warnings.warn(
                "Passing a 'freq' together with a 'fill_value' silently ignores "
                "the fill_value and is deprecated. This will raise in a future "
                "version.",
                FutureWarning,
                stacklevel=find_stack_level(),
            )
            fill_value = lib.no_default

        if self.empty:
            return self.copy()

        axis = self._get_axis_number(axis)

        if is_list_like(periods):
            periods = cast(Sequence, periods)
            if axis == 1:
                raise ValueError(
                    "If `periods` contains multiple shifts, `axis` cannot be 1."
                )
            if len(periods) == 0:
                raise ValueError("If `periods` is an iterable, it cannot be empty.")
            from pandas.core.reshape.concat import concat

            shifted_dataframes = []
            for period in periods:
                if not is_integer(period):
                    raise TypeError(
                        f"Periods must be integer, but {period} is {type(period)}."
                    )
                period = cast(int, period)
                shifted_dataframes.append(
                    super()
                    .shift(periods=period, freq=freq, axis=axis, fill_value=fill_value)
                    .add_suffix(f"{suffix}_{period}" if suffix else f"_{period}")
                )
            return concat(shifted_dataframes, axis=1)
        elif suffix:
            raise ValueError("Cannot specify `suffix` if `periods` is an int.")
        periods = cast(int, periods)

        ncols = len(self.columns)
        arrays = self._mgr.arrays
        if axis == 1 and periods != 0 and ncols > 0 and freq is None:
            if fill_value is lib.no_default:
                # We will infer fill_value to match the closest column

                # Use a column that we know is valid for our column's dtype GH#38434
                label = self.columns[0]

                if periods > 0:
                    result = self.iloc[:, :-periods]
                    for col in range(min(ncols, abs(periods))):
                        # TODO(EA2D): doing this in a loop unnecessary with 2D EAs
                        # Define filler inside loop so we get a copy
                        filler = self.iloc[:, 0].shift(len(self))
                        result.insert(0, label, filler, allow_duplicates=True)
                else:
                    result = self.iloc[:, -periods:]
                    for col in range(min(ncols, abs(periods))):
                        # Define filler inside loop so we get a copy
                        filler = self.iloc[:, -1].shift(len(self))
                        result.insert(
                            len(result.columns), label, filler, allow_duplicates=True
                        )

                result.columns = self.columns.copy()
                return result
            elif len(arrays) > 1 or (
                # If we only have one block and we know that we can't
                #  keep the same dtype (i.e. the _can_hold_element check)
                #  then we can go through the reindex_indexer path
                #  (and avoid casting logic in the Block method).
                not can_hold_element(arrays[0], fill_value)
            ):
                # GH#35488 we need to watch out for multi-block cases
                # We only get here with fill_value not-lib.no_default
                nper = abs(periods)
                nper = min(nper, ncols)
                if periods > 0:
                    indexer = np.array(
                        [-1] * nper + list(range(ncols - periods)), dtype=np.intp
                    )
                else:
                    indexer = np.array(
                        list(range(nper, ncols)) + [-1] * nper, dtype=np.intp
                    )
                mgr = self._mgr.reindex_indexer(
                    self.columns,
                    indexer,
                    axis=0,
                    fill_value=fill_value,
                    allow_dups=True,
                )
                res_df = self._constructor_from_mgr(mgr, axes=mgr.axes)
                return res_df.__finalize__(self, method="shift")
            else:
                return self.T.shift(periods=periods, fill_value=fill_value).T

        return super().shift(
            periods=periods, freq=freq, axis=axis, fill_value=fill_value
        )
File:      d:\hanner\anaconda\envs\myanalystspace\lib\site-packages\pandas\core\frame.py
Type:      method

In [110]:
df.poblacion

0      34040642.0
1      34216856.0
2      34408338.0
3      34595886.0
4      34800600.0
          ...
307    24146903.0
308    24171413.0
309    24140027.0
310    24195741.0
311    24304407.0
Name: poblacion, Length: 312, dtype: float64

In [111]:
df.poblacion.shift(1)

0             NaN
1      34040642.0
2      34216856.0
3      34408338.0
4      34595886.0
          ...
307    24133301.0
308    24146903.0
309    24171413.0
310    24140027.0
311    24195741.0
Name: poblacion, Length: 312, dtype: float64

In [112]:
df.poblacion - df.poblacion.shift(1)

0           NaN
1      176214.0
2      191482.0
3      187548.0
4      204714.0
         ...
307     13602.0
308     24510.0
309    -31386.0
310     55714.0
311    108666.0
Name: poblacion, Length: 312, dtype: float64

para crear varias columnas al mismo tiempo se usa

In [114]:
df.assign(valor_prev_pob = lambda x: x.poblacion.shift(1),
            incremento_pob = lambda x: x.poblacion - x.poblacion.shift(1))

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47,1,1971,NaN,NaN
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47,7,1971,34040642.0,176214.0
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47,1,1972,34216856.0,191482.0
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47,7,1972,34408338.0,187548.0
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973,34595886.0,204714.0
...,...,...,...,...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11,7,2020,24133301.0,13602.0
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11,1,2021,24146903.0,24510.0
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021,24171413.0,-31386.0
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11,1,2022,24140027.0,55714.0
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11,7,2022,24195741.0,108666.0

vamos a guardarlo:

In [116]:
df = df.assign(valor_prev_pob = lambda x: x.poblacion.shift(1),
            incremento_pob = lambda x: x.poblacion - x.poblacion.shift(1))

In [117]:
df

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47,1,1971,NaN,NaN
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47,7,1971,34040642.0,176214.0
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47,1,1972,34216856.0,191482.0
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47,7,1972,34408338.0,187548.0
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973,34595886.0,204714.0
...,...,...,...,...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11,7,2020,24133301.0,13602.0
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11,1,2021,24146903.0,24510.0
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021,24171413.0,-31386.0
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11,1,2022,24140027.0,55714.0
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11,7,2022,24195741.0,108666.0

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fecha           312 non-null    datetime64[ns]
 1   dato            312 non-null    object
 2   poblacion       312 non-null    float64
 3   serie           312 non-null    object
 4   media_pob       312 non-null    float64
 5   dif_pob_media   312 non-null    float64
 6   month           312 non-null    int32
 7   year            312 non-null    int32
 8   valor_prev_pob  311 non-null    float64
 9   incremento_pob  311 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(2), object(2)
memory usage: 22.1+ KB

In [119]:
df.columns

Index(['fecha', 'dato', 'poblacion', 'serie', 'media_pob', 'dif_pob_media',
       'month', 'year', 'valor_prev_pob', 'incremento_pob'],
      dtype='object')

In [122]:
df[(df.incremento_pob <= 0 ) & (df.serie == 'Total')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
83,2012-07-01,Total Nacional. Todas las edades. Total. Pobla...,46766403.0,Total,41148193.47,5618209.53,7,2012,46818216.0,-51813.0
84,2013-01-01,Total Nacional. Todas las edades. Total. Pobla...,46727890.0,Total,41148193.47,5579696.53,1,2013,46766403.0,-38513.0
85,2013-07-01,Total Nacional. Todas las edades. Total. Pobla...,46593236.0,Total,41148193.47,5445042.53,7,2013,46727890.0,-134654.0
86,2014-01-01,Total Nacional. Todas las edades. Total. Pobla...,46512199.0,Total,41148193.47,5364005.53,1,2014,46593236.0,-81037.0
87,2014-07-01,Total Nacional. Todas las edades. Total. Pobla...,46455123.0,Total,41148193.47,5306929.53,7,2014,46512199.0,-57076.0
88,2015-01-01,Total Nacional. Todas las edades. Total. Pobla...,46449565.0,Total,41148193.47,5301371.53,1,2015,46455123.0,-5558.0
89,2015-07-01,Total Nacional. Todas las edades. Total. Pobla...,46410149.0,Total,41148193.47,5261955.53,7,2015,46449565.0,-39416.0
101,2021-07-01,Total Nacional. Todas las edades. Total. Pobla...,47331302.0,Total,41148193.47,6183108.53,7,2021,47398695.0,-67393.0

Encontramos que hay varios detrimento, los identificamos con las series masculinas yfemeninas

In [123]:
df[(df.incremento_pob <= 0 ) & (df.serie == 'Mujeres')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
208,1971-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,17398898.0,Mujeres,20945782.89,-3546884.89,1,1971,23310627.0,-5911729.0
291,2012-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23710682.0,Mujeres,20945782.89,2764899.11,7,2012,23719207.0,-8525.0
292,2013-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,23710132.0,Mujeres,20945782.89,2764349.11,1,2013,23710682.0,-550.0
293,2013-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23659486.0,Mujeres,20945782.89,2713703.11,7,2013,23710132.0,-50646.0
294,2014-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,23634738.0,Mujeres,20945782.89,2688955.11,1,2014,23659486.0,-24748.0
295,2014-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23615032.0,Mujeres,20945782.89,2669249.11,7,2014,23634738.0,-19706.0
297,2015-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23609285.0,Mujeres,20945782.89,2663502.11,7,2015,23623019.0,-13734.0
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021,24171413.0,-31386.0

In [124]:
df[(df.incremento_pob <= 0 ) & (df.serie == 'Hombres')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
104,1971-01-01,Total Nacional. Todas las edades. Hombres. Pob...,16641744.0,Hombres,20202410.58,-3560666.58,1,1971,47615034.0,-30973290.0
143,1990-07-01,Total Nacional. Todas las edades. Hombres. Pob...,19038475.0,Hombres,20202410.58,-1163935.58,7,1990,19039785.0,-1310.0
187,2012-07-01,Total Nacional. Todas las edades. Hombres. Pob...,23055722.0,Hombres,20202410.58,2853311.42,7,2012,23099009.0,-43287.0
188,2013-01-01,Total Nacional. Todas las edades. Hombres. Pob...,23017758.0,Hombres,20202410.58,2815347.42,1,2013,23055722.0,-37964.0
189,2013-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22933750.0,Hombres,20202410.58,2731339.42,7,2013,23017758.0,-84008.0
190,2014-01-01,Total Nacional. Todas las edades. Hombres. Pob...,22877461.0,Hombres,20202410.58,2675050.42,1,2014,22933750.0,-56289.0
191,2014-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22840091.0,Hombres,20202410.58,2637680.42,7,2014,22877461.0,-37370.0
192,2015-01-01,Total Nacional. Todas las edades. Hombres. Pob...,22826546.0,Hombres,20202410.58,2624135.42,1,2015,22840091.0,-13545.0
193,2015-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22800864.0,Hombres,20202410.58,2598453.42,7,2015,22826546.0,-25682.0
195,2016-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22805230.0,Hombres,20202410.58,2602819.42,7,2016,22807464.0,-2234.0
197,2017-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22829748.0,Hombres,20202410.58,2627337.42,7,2017,22834227.0,-4479.0
205,2021-07-01,Total Nacional. Todas las edades. Hombres. Pob...,23191275.0,Hombres,20202410.58,2988864.42,7,2021,23227282.0,-36007.0

hemos introducido un fallo en los calculos utilizando el shift, ya que no hay datos anteriores de 1971, debería ser los primeros valores nulos ya que no existen, Cuando vamos a modificar un dato puntual en el dataset, vamos a usar df.loc permite nombrar las columbas con su nombre propio.

In [125]:
df.loc [104, ['valor_prev_pob', 'incremento_pob']]

valor_prev_pob    47615034.0
incremento_pob   -30973290.0
Name: 104, dtype: object

Son los valores a cambiar, con sustitución a NaN, inicia en 104 los índices HOMBRES

In [126]:
df[df.serie == 'Hombres']

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
104,1971-01-01,Total Nacional. Todas las edades. Hombres. Pob...,16641744.0,Hombres,20202410.58,-3560666.58,1,1971,47615034.0,-30973290.0
105,1971-07-01,Total Nacional. Todas las edades. Hombres. Pob...,16730904.0,Hombres,20202410.58,-3471506.58,7,1971,16641744.0,89160.0
106,1972-01-01,Total Nacional. Todas las edades. Hombres. Pob...,16827942.0,Hombres,20202410.58,-3374468.58,1,1972,16730904.0,97038.0
107,1972-07-01,Total Nacional. Todas las edades. Hombres. Pob...,16923533.0,Hombres,20202410.58,-3278877.58,7,1972,16827942.0,95591.0
108,1973-01-01,Total Nacional. Todas las edades. Hombres. Pob...,17027972.0,Hombres,20202410.58,-3174438.58,1,1973,16923533.0,104439.0
...,...,...,...,...,...,...,...,...,...,...
203,2020-07-01,Total Nacional. Todas las edades. Hombres. Pob...,23208782.0,Hombres,20202410.58,3006371.42,7,2020,23199313.0,9469.0
204,2021-01-01,Total Nacional. Todas las edades. Hombres. Pob...,23227282.0,Hombres,20202410.58,3024871.42,1,2021,23208782.0,18500.0
205,2021-07-01,Total Nacional. Todas las edades. Hombres. Pob...,23191275.0,Hombres,20202410.58,2988864.42,7,2021,23227282.0,-36007.0
206,2022-01-01,Total Nacional. Todas las edades. Hombres. Pob...,23237152.0,Hombres,20202410.58,3034741.42,1,2022,23191275.0,45877.0
207,2022-07-01,Total Nacional. Todas las edades. Hombres. Pob...,23310627.0,Hombres,20202410.58,3108216.42,7,2022,23237152.0,73475.0

In [127]:
df.loc [104, ['valor_prev_pob', 'incremento_pob']] = None

In [128]:
df.loc [104, ['valor_prev_pob', 'incremento_pob']]

valor_prev_pob    NaN
incremento_pob    NaN
Name: 104, dtype: object

In [129]:
df.loc [208, ['valor_prev_pob', 'incremento_pob']]

valor_prev_pob    23310627.0
incremento_pob    -5911729.0
Name: 208, dtype: object

In [130]:
df[df.serie == 'Mujeres']

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
208,1971-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,17398898.0,Mujeres,20945782.89,-3546884.89,1,1971,23310627.0,-5911729.0
209,1971-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,17485953.0,Mujeres,20945782.89,-3459829.89,7,1971,17398898.0,87055.0
210,1972-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,17580397.0,Mujeres,20945782.89,-3365385.89,1,1972,17485953.0,94444.0
211,1972-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,17672353.0,Mujeres,20945782.89,-3273429.89,7,1972,17580397.0,91956.0
212,1973-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,17772628.0,Mujeres,20945782.89,-3173154.89,1,1973,17672353.0,100275.0
...,...,...,...,...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11,7,2020,24133301.0,13602.0
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11,1,2021,24146903.0,24510.0
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021,24171413.0,-31386.0
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11,1,2022,24140027.0,55714.0
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11,7,2022,24195741.0,108666.0

In [131]:
df.loc [208, ['valor_prev_pob', 'incremento_pob']] = None

In [132]:
df.loc [208, ['valor_prev_pob', 'incremento_pob']]

valor_prev_pob    NaN
incremento_pob    NaN
Name: 208, dtype: object

In [133]:
df[(df.incremento_pob <= 0 ) & (df.serie == 'Mujeres')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
291,2012-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23710682.0,Mujeres,20945782.89,2764899.11,7,2012,23719207.0,-8525.0
292,2013-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,23710132.0,Mujeres,20945782.89,2764349.11,1,2013,23710682.0,-550.0
293,2013-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23659486.0,Mujeres,20945782.89,2713703.11,7,2013,23710132.0,-50646.0
294,2014-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,23634738.0,Mujeres,20945782.89,2688955.11,1,2014,23659486.0,-24748.0
295,2014-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23615032.0,Mujeres,20945782.89,2669249.11,7,2014,23634738.0,-19706.0
297,2015-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,23609285.0,Mujeres,20945782.89,2663502.11,7,2015,23623019.0,-13734.0
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021,24171413.0,-31386.0

In [134]:
df[(df.incremento_pob <= 0 ) & (df.serie == 'Hombres')]

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
143,1990-07-01,Total Nacional. Todas las edades. Hombres. Pob...,19038475.0,Hombres,20202410.58,-1163935.58,7,1990,19039785.0,-1310.0
187,2012-07-01,Total Nacional. Todas las edades. Hombres. Pob...,23055722.0,Hombres,20202410.58,2853311.42,7,2012,23099009.0,-43287.0
188,2013-01-01,Total Nacional. Todas las edades. Hombres. Pob...,23017758.0,Hombres,20202410.58,2815347.42,1,2013,23055722.0,-37964.0
189,2013-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22933750.0,Hombres,20202410.58,2731339.42,7,2013,23017758.0,-84008.0
190,2014-01-01,Total Nacional. Todas las edades. Hombres. Pob...,22877461.0,Hombres,20202410.58,2675050.42,1,2014,22933750.0,-56289.0
191,2014-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22840091.0,Hombres,20202410.58,2637680.42,7,2014,22877461.0,-37370.0
192,2015-01-01,Total Nacional. Todas las edades. Hombres. Pob...,22826546.0,Hombres,20202410.58,2624135.42,1,2015,22840091.0,-13545.0
193,2015-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22800864.0,Hombres,20202410.58,2598453.42,7,2015,22826546.0,-25682.0
195,2016-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22805230.0,Hombres,20202410.58,2602819.42,7,2016,22807464.0,-2234.0
197,2017-07-01,Total Nacional. Todas las edades. Hombres. Pob...,22829748.0,Hombres,20202410.58,2627337.42,7,2017,22834227.0,-4479.0
205,2021-07-01,Total Nacional. Todas las edades. Hombres. Pob...,23191275.0,Hombres,20202410.58,2988864.42,7,2021,23227282.0,-36007.0

In [135]:
df[(df.incremento_pob <= 0 ) & (df.serie == 'Hombres')].year.unique()

array([1990, 2012, 2013, 2014, 2015, 2016, 2017, 2021], dtype=int32)

In [136]:
df[(df.incremento_pob <= 0 ) & (df.serie == 'Mujeres')].year.unique()

array([2012, 2013, 2014, 2015, 2021], dtype=int32)

podemos revisar la info por décadas

In [137]:
df

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47,1,1971,NaN,NaN
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47,7,1971,34040642.0,176214.0
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47,1,1972,34216856.0,191482.0
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47,7,1972,34408338.0,187548.0
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973,34595886.0,204714.0
...,...,...,...,...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11,7,2020,24133301.0,13602.0
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11,1,2021,24146903.0,24510.0
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021,24171413.0,-31386.0
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11,1,2022,24140027.0,55714.0
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11,7,2022,24195741.0,108666.0

Podemos categorizar y cortar al poner límites mediante pandas .cut() se relaciona un bins con limite inferior y superior, ademas podemos especificar la etiqueta para nombrar las filas

In [141]:
pd.cut(df.year, bins = [1970, 1979, 1989, 1999, 2009, 2019, 2022], 
        labels = ['setentas', 'ochentas', 'noventas', 'dosmil', 'dosmildiez',
                  'dosmilveinte'])

0          setentas
1          setentas
2          setentas
3          setentas
4          setentas
           ...
307    dosmilveinte
308    dosmilveinte
309    dosmilveinte
310    dosmilveinte
311    dosmilveinte
Name: year, Length: 312, dtype: category
Categories (6, object): ['setentas' < 'ochentas' < 'noventas' < 'dosmil' < 'dosmildiez' < 'dosmilveinte']

genera serie de datos categóricas y ordinal

In [142]:
df['decadas'] = pd.cut(df.year, bins = [1970, 1979, 1989, 1999, 2009, 2019, 2022], 
        labels = ['setentas', 'ochentas', 'noventas', 'dosmil', 'dosmildiez',
                  'dosmilveinte'])

In [143]:
df

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob,decadas
0,1971-01-01,Total Nacional. Todas las edades. Total. Pobla...,34040642.0,Total,41148193.47,-7107551.47,1,1971,NaN,NaN,setentas
1,1971-07-01,Total Nacional. Todas las edades. Total. Pobla...,34216856.0,Total,41148193.47,-6931337.47,7,1971,34040642.0,176214.0,setentas
2,1972-01-01,Total Nacional. Todas las edades. Total. Pobla...,34408338.0,Total,41148193.47,-6739855.47,1,1972,34216856.0,191482.0,setentas
3,1972-07-01,Total Nacional. Todas las edades. Total. Pobla...,34595886.0,Total,41148193.47,-6552307.47,7,1972,34408338.0,187548.0,setentas
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973,34595886.0,204714.0,setentas
...,...,...,...,...,...,...,...,...,...,...,...
307,2020-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24146903.0,Mujeres,20945782.89,3201120.11,7,2020,24133301.0,13602.0,dosmilveinte
308,2021-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24171413.0,Mujeres,20945782.89,3225630.11,1,2021,24146903.0,24510.0,dosmilveinte
309,2021-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24140027.0,Mujeres,20945782.89,3194244.11,7,2021,24171413.0,-31386.0,dosmilveinte
310,2022-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,24195741.0,Mujeres,20945782.89,3249958.11,1,2022,24140027.0,55714.0,dosmilveinte
311,2022-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,24304407.0,Mujeres,20945782.89,3358624.11,7,2022,24195741.0,108666.0,dosmilveinte

con sample hacemos una validacion rapida

In [144]:
df.sample(15)

,fecha,dato,poblacion,serie,media_pob,dif_pob_media,month,year,valor_prev_pob,incremento_pob,decadas
22,1982-01-01,Total Nacional. Todas las edades. Total. Pobla...,37881873.0,Total,41148193.47,-3266320.47,1,1982,37764458.0,117415.0,ochentas
277,2005-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,22120648.0,Mujeres,20945782.89,1174865.11,7,2005,21961052.0,159596.0,dosmil
4,1973-01-01,Total Nacional. Todas las edades. Total. Pobla...,34800600.0,Total,41148193.47,-6347593.47,1,1973,34595886.0,204714.0,setentas
236,1985-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,19558571.0,Mujeres,20945782.89,-1387211.89,1,1985,19514666.0,43905.0,ochentas
78,2010-01-01,Total Nacional. Todas las edades. Total. Pobla...,46486621.0,Total,41148193.47,5338427.53,1,2010,46367550.0,119071.0,dosmildiez
67,2004-07-01,Total Nacional. Todas las edades. Total. Pobla...,42859172.0,Total,41148193.47,1710978.53,7,2004,42547454.0,311718.0,dosmil
219,1976-07-01,Total Nacional. Todas las edades. Mujeres. Pob...,18422078.0,Mujeres,20945782.89,-2523704.89,7,1976,18333864.0,88214.0,setentas
66,2004-01-01,Total Nacional. Todas las edades. Total. Pobla...,42547454.0,Total,41148193.47,1399260.53,1,2004,42196231.0,351223.0,dosmil
34,1988-01-01,Total Nacional. Todas las edades. Total. Pobla...,38731578.0,Total,41148193.47,-2416615.47,1,1988,38682322.0,49256.0,ochentas
31,1986-07-01,Total Nacional. Todas las edades. Total. Pobla...,38571941.0,Total,41148193.47,-2576252.47,7,1986,38531195.0,40746.0,ochentas
160,1999-01-01,Total Nacional. Todas las edades. Hombres. Pob...,19744257.0,Hombres,20202410.58,-458153.58,1,1999,19699794.0,44463.0,noventas
234,1984-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,19477809.0,Mujeres,20945782.89,-1467973.89,1,1984,19429953.0,47856.0,ochentas
41,1991-07-01,Total Nacional. Todas las edades. Total. Pobla...,38941622.0,Total,41148193.47,-2206571.47,7,1991,38881416.0,60206.0,noventas
71,2006-07-01,Total Nacional. Todas las edades. Total. Pobla...,44360521.0,Total,41148193.47,3212327.53,7,2006,44009969.0,350552.0,dosmil
214,1974-01-01,Total Nacional. Todas las edades. Mujeres. Pob...,17957230.0,Mujeres,20945782.89,-2988552.89,1,1974,17860714.0,96516.0,setentas

Si quiero conocer el incremento poblacional que ha habido en las distintas décadas:

In [ ]:
df.groupby(['serie', 'decadas']).incremento_pob.sum()

Encontramos el aumento desmesurado en los dosmil pero en los dosmildiez y dosmilveinte hay una frenada de creccimiento, relacionando el crecimiento negativo obtenido anteriormente validado. Podemos descartar que sea por causas naturales, existen procesos migratorios o procesos demográficos por analizar.

### CONEXION DE BASE DE DATOS AL EXTERIOR

In [147]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\hanner\anaconda\envs\myanalystspace\lib\site-packages (9.3.0)

In [148]:
!pip install pymysql

Requirement already satisfied: pymysql in d:\hanner\anaconda\envs\myanalystspace\lib\site-packages (1.1.1)

In [149]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\hanner\anaconda\envs\myanalystspace\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in d:\hanner\anaconda\envs\myanalystspace\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\hanner\anaconda\envs\myanalystspace\lib\site-packages (from sqlalchemy) (4.12.2)

1. Se valida que la base de datos de autorización para ingresar con credenciales de acceso
2. construimos un URL para conectar y establecer la conexión.
3. crear la conexión
4.

In [156]:
from sqlalchemy import create_engine, text

# Configuración de la conexión:

# Define 'usuario', 'contraseña', 'localhost'
user = 'root' # usualmente 'root'
password = 'Tripleh15.'
host = 'localhost'   # usualmente 'localhost' o la dirección de tu servidor MySQL

# Crear la URL de conexión
connection_url = f'mysql+pymysql://{user}:{password}@{host}/'
engine = create_engine(connection_url)

# Consulta de las BBDD:
databases = []

try:
    # Creamos la conexión
    with engine.connect() as connection:
        
        # Usamos la conexión para solicitar el nombre de las BBDD
        result = connection.execute(text("SHOW DATABASES;"))
        
        # Imprimimos los resultados de la consulta
        print('Bases de datos disponibles:')
        
        for row in result:
            
            print('-', row[0])
        
except Exception as e:
    print(f'Error al conectar con MySQL: {e}')

Bases de datos disponibles:
- classicmodels
- companydb
- formula_unicorn
- information_schema
- mysql
- performance_schema
- raw_classicmodels
- sakila
- salesman
- sandia_clothing
- sys
- unicornburguer
- worldanalysis